.gauges, .gauge-pair {
	display: inline-block;
}
.gauges {
	margin-left: 21px;
	.gauge-pair {
		outline: grey dotted 1px;
		text-align: center;
		.gauge { 
			&.updated {
				circle:first-of-type {
					fill: darkgrey; 
				}
			}
		}
	}
}