.gauges, .gauge-pair {
	display: inline-block;
	//display: none;
}
.gauges {
	margin-left: 21px;
	.gauge-pair {
		outline: grey dotted 1px;
		text-align: center;
		.gauge { 
			&.updated {
				circle:nth-child(1) {
					fill: #3ADF00; 
				}
			}
		}
	}
}