extends ./layout

block title  
	Title

block content
	script.
		window.app.gauge.init();
	p #{name}
	#gauge1 //mixin thumbnail(imageName, caption) +mixin('ss', 'aa')
		// include includes/gauge.pug
	#gauge2
		