extends ./layout

mixin gauge(divId)
		.gauge
			div(id=divId)

block title  
	Title

block content
	script.
		//mySensor = sensors;
		window.app.gauge.init('sensors');

	p #{sensors[0].gauges[0].id}

	.sensor
		h3 Sensor 1
		+gauge('gauge1')
		+gauge('gauge2')
	.sensor
		h3 Sensor 2
		+gauge('gauge3')
		+gauge('gauge4')
		