extends ./layout

mixin gauge-pair(sensor, gaugeId) 
	.gauge-pair(id=sensor.id)
		h3= sensor.name 
			.temperature
				.gauge(id='gauge-temp-' + sensor.id)
			.humidity
				.gauge(id='gauge-humidity-' + sensor.id)

block title  
	Title

block content
	script.
		google.charts.load('current', {'packages':['gauge', 'line', 'corechart']});
		let sensors = !{JSON.stringify(sensors)};
		window.app.gauge.init(sensors);
		window.app.page.init(sensors);

	each sensor in sensors
		if sensor.type == 'TEMP_HUMIDITY'
			.gauges
				+gauge-pair(sensor)
	.lineChart
		.temperature
			h3 Temp
			.lineChart(id='linechart-temp')
	.lineChart
		.humidty
			h3 Fukt
			.lineChart(id='linechart-humidity')

	.status
		//h3 Status
		//p Home/Away