extends ./layout

mixin gauge(divId)
		.gauge
			div(id=divId)

block title  
	Title

block content
	script.
		let sensors = !{JSON.stringify(sensors)};
		window.app.gauge.init(sensors);
		window.app.page.init(sensors);

	p #{sensors[0].gauges[0].id}

	.sensor
		h3 Sensor 1
		+gauge('gauge11')
		+gauge('gauge12')
	.sensor
		h3 Sensor 2
		+gauge('gauge21')
		+gauge('gauge22')
		