doctype html  
html  
  head
    meta(name='viewport', content='width=710')
    block title
      title The title
  body
    script(src="/socket.io/socket.io.js")
    script(src="/js/bundle.js")

    #content
      block content
    #content2
      block content2
    block footer
      footer